
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
}
/* defult style */

.container{
    max-width: 90%;
    margin: 100px auto;
    border: 1px solid white;
}
.all-p{
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.4rem;
}
.primary-btn{
    width: 224px;
    padding: .7rem;
    background-color:  rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    border-radius: 1rem ;
    border: none;

}
.section-heading{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}
/* defult syle */

/* header section start */

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-option ul{
    display: flex;
    margin-right: 30px;

}
.nav-bar ul li{
    list-style: none;
    margin:18px;

}
.nav-bar ul li a{
    text-decoration: none;
  
}
.fitness{
    font-size: 2.75rem;
    color: rgb(230, 83, 60);
    font-weight: bold;

   
}
li>a{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.span{
    background-color: rgb(230, 83, 60) ;
    border-radius: 2.75rem; 
}
.icone > i{
    color: white;

}
.icone{
    display: none;
}


/* header section end */


/* banner section asstart */
.banner{
    display: flex;
    justify-content: space-evenly;
    
}
.text-aria{
    width: 40%;
    /* border: 1px solid white; */
    margin-top: 50px;
}
   
.img{
    width: 40%;
    /* border: 1px solid white; */
}
.text-aria h1{
    font-size: 2.9rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.text-aria >.btn{
    width: 224px;
    padding: .7rem; 
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 1rem ;
    border: 1px solid rgb(255, 255, 255);
   
}
.img{
    width: 349px;
    height: 580px;
    position: relative;
   

}
.img img{
    width: 349px;
    height: 580px;
    
}
.one{
    width: 150px;
    background-color: rgba(255, 255, 255, 0.44);
    position: absolute;
    bottom: 180px;
    left: -60px;
    border-radius: 1rem ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.two{
    width: 150px;
    background-color: rgba(255, 255, 255, 0.54);
    position: absolute;
   right: -5px;
   bottom: 360px;
   text-align: center;
   border-radius: 1rem;
   
}
.two>p{
    font-size: 10px;
    margin-top: 3px;
    color: white;
}
.two>h3{
  
    color: white;
}
.one > .cirle{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}
.cirle-beside p{
   font-size: 10px;
   color: white;
}
.cirle-beside{
   
   color: white;
}




/* banner section end */

/* change your habbit stat */

.your-habbit{
    text-align: center;
}
.child-img > h4{
    color: white;
}
.child-img{
    text-align: center;
}
.habbit-p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.child-img >img{
  
    border-radius: 50%;
}
.images{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.change-your-habbit{
    margin-top: 2rem;
}
/* change your habbit end */

/* run extra mile section start */
.run-extra-text{
    max-width: 450px;
    margin-left: 3rem;
}
.extra-mile-img{
    margin-right: 1.5rem;
}
.extra-mile-img img{
    max-width: 470px;
    border-radius: 1.2rem;
}
.run-extra-mile{
    background: rgb(34, 34, 34);
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

/* run extra mile section end*/

/* bmi calculator section start */

table{
     
    border-collapse: collapse;
}
tr{
    max-width: 100px;
}
tr th{
    color:rgb(255, 255, 255) ;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: .8rem 2rem;
    text-align: center;
}
tr td{
   color: rgba(255, 255, 255, 0.5); 
   border: 1px solid rgba(255, 255, 255, 0.1);
   padding: .8rem 2rem;
   font-size: 14px;
   text-align: center;
}
.bmi-heading{
    font-size: 1.8rem ;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.bmi{
    line-height: 1rem;
}
.your-bmi{
    max-width: 605px;
}
.chart-your-bmi{
    width: 100%;
    height: 450px;
    margin-top: 50px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
 
}
input,select{
   height: 2rem;
   border-radius: .5rem;
   background: rgba(255, 255, 255, 0.1);
   border: none;
   color: rgba(255, 255, 255, 0.6);
}
.last{
    grid-column: 1/3;
}
.bmi-calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* bmi calculator section end */

/* meet our team section start */
.meet-text{
    text-align: center;
    line-height: 1.3rem;
}
.name{
    color: white;
}
.traner{
    color:white;
}
/* meet our team section end */






/* media query start */

@media screen and ( max-width:576px) {
    .nav-bar{
        justify-content: space-between;
       
    }
    .icone{
        display: block;
       
    }
    .icone i{
       font-size: 2rem;
       
    }
    .nav-option{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .text-aria{
        width: 100%;
        margin: 0 auto;
    }
    .img{
        width: 80%;
        margin: 20px auto;
    }
    .text-aria > .primary-btn,.btn{
        width: 47%;
        margin: 1%;
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .img>img{
        width: 100%;

    };

    /* change your habbit */
.change-your-habbit{
    display: flex;
    flex-direction: column;

}
.your-habbit{
    width: 100%;
    text-align: center;
}
.images{
    grid-template-columns: repeat(1,1fr);
}
.child-img{
    width: 100%;
}
 
/* run extra mile start */
.run-extra-mile{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.run-extra-text{
    max-width:85%;
}
.run-extra-text{
    margin-left: 0;
}
.extra-mile-img {
    margin-right: 0;
    max-width: 85%;
    margin-top: 50px;
}
.extra-mile-img img{
    max-width:100%;
}
.run-extra-text .primary-btn{
    width: 95%;
    font-size: 1.5rem;
}

/* bmi calculator section */
.bmi-calculator{
    flex-direction: column;
}
.chart-your-bmi{
    flex-direction: column;
    height: auto;
}
.your-bmi{
    margin-top: 50px;
    justify-content: center;
}


}




/* media query end */